.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: #fff;
    padding: 20px 40px;
    font-size: 30px;
    background-color: #af072b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
        color: #af072b;
    }

}


.conteudo {
    padding: 20px;

}